/* set container */
.margin-around {
    margin: 8rem;
    margin-top: 4rem;
  }
  /* macbook image style */
  .macbook-image {
    margin-right: 15rem;
  }
  .macbook-image img {
    width: 150%;
    height: auto;
  }
  /* header style */
  .main-header-text {
    font-size: 3rem;
  }
  .main-peragraph-text {
    font-size: 1.2rem;
  }
  
  /* more buy */
  .button-font {
    font-size: 1.4rem !important;
  }
  /* cost list */
  .list-text {
    font-size: 1.7rem !important;
    font-weight: 500;
  }
  .counter-list {
    margin: 3rem 21rem 0rem -1rem;
  }
  